*{
  margin: 0px;
  padding: 0px;

}
.containers {
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  font-family: sans-serif;
  background-image: url(https://wallpapercave.com/wp/wp8909322.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.signup-cards{
  width: 30vw;
  height: 65vh;
  backdrop-filter: blur(16px) saturate(150%);
  -webkit-backdrop-filter: blur(16px) saturate(150%);
  background-color: rgba(25, 34, 45, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: grid;
  align-items: center;
  justify-items: center;
  font-family: sans-serif;
}
.signup-title{
  font-size: 28px;
  background: -webkit-linear-gradient(#c6cacd, #3e7b8f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.signup-subtitle{
  background: -webkit-linear-gradient(#c6cacd, #3e7b8f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
form{
  height: 40vh;
  display: grid;
  align-items: center;
  justify-content: center;
  row-gap:2vh ;
}
input{
  color: white;
  font-size: 20px;
  padding: 2px;
  width: 15vw;
  height: 5vh;
  border-radius: 12px;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  
}
input:hover{
  border-bottom: 1px black solid;
}
input:focus{
font-size: 24px;
  outline: none;
  width: 17vw;
  height: 4vh;
}
input::placeholder{
  font-size: 17px;
 color:white;
 text-transform: capitalize;  
}
.signup-btn{
  width: 12vw;
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 22px;
  padding: 2px;
}
.signup-btn:hover{
  color: white;
  border: 3px white solid;
}
.login{
  color:white;
  font-size: 2vh;
}
.login-link{
  color: white;
  font-size: 2vh;
}
.login-link:hover{
  color: #167CAC;
  text-decoration: none;
}